.sidebar-item {
    font: 18px arial;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.dynamic-content {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    min-width: 200px;
    background-color: lightgray;
}

.sidebarUl > li {
    list-style-type: none
}

.content {
    width: 100%;
}

.active {
    background-color: aliceblue;
}